*{

    margin: 5% 20% 30px ;
    background-color: #DAF1DE;
}

.top{

    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid #0B2B26;
    background-color: #0B2B26;
    box-shadow: #051F20 5px 8px 10px;
    color: aliceblue;
}

.first{

    border: solid #235347;
    margin: 1px 1px 10px;
    border-radius: 20px;
    box-sizing: content-box 600px;
    background-color: #8EB69B;
    text-align: center;
}